@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Code highlighting styles */
pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code {
  font-family: 'Courier New', Courier, monospace;
}
